<div class="row mt-5">
    <div class="col-sm-6 center mt-5">
        <div class="displayTable">
            <div class="displayTableCell">
                <div class="authBlock">
                    <h3>Sign Up</h3>
                    <div class="formGroup">
                        <input type="email" class="form-control" placeholder="Email Address" #userEmail required />
                    </div>
                    <div class="formGroup mt-1">
                        <input type="password" class="form-control" placeholder="Password" #userPwd required />
                    </div>
                    <div class="formGroup mt-3">
                        <select class="form-select" aria-label="Default select example" #userRole>
                            <option selected>Cargo</option>
                            <option value="empleado">Empleado</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <div class="formGroup">
                        <input type="button" class="w-100 btn btn-lg btn-primary mt-3" value="Sign Up"
                            (click)="authService.SignUp(userEmail.value, userPwd.value, userRole.value)" />
                    </div>
                    <div class="formGroup">
                        <span class="or"><span class="orInner">Or</span></span>
                    </div>
                    <div class="redirectToLogin">
                        <span>Already have an account?
                            <span class="redirect" routerLink="/sign-in">Log In</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>