<div class="row">
    <div class="col-sm-6 container">
        <input class="form-control" type="text" [(ngModel)]="filtroEspecialidad" (keyup)="aplicarFiltro()" placeholder="Buscar Especialidad o Especialista">
    </div>
</div>


<div class="row">
    <div class="col-sm-2" *ngFor="let item of turnos">
        <div class="row row-cols-1 row-cols-md-1 g-4">
            <div class="col">
                <app-turno-card [turno]="item"  (click)="lanzarTurno(item)"></app-turno-card>
            </div>
        </div>
    </div>
</div>