<div class="row container">
    <div class="col-sm-6">
        <input class="form-control" type="text" [(ngModel)]="filtroEspecialidad" (keyup)="aplicarFiltro()"
            placeholder="Buscar Especialidad o Especialista">
    </div>



    <div class="col-sm-12">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col" *ngFor="let item of turnos">
                <app-turno-card-detalle [turno]="item"></app-turno-card-detalle>
            </div>
        </div>
    </div>
</div>