<div class="container">
    <mat-stepper [linear]="isLinear" #stepper>

        <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||| 1º ELEGIR especialistas ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Seleccionar Especialista</ng-template>
    
                <app-especialistas-grid [especialistas]="especialistasFiltrados" (itemSel)="getjornadasEspecialista($event)"
                    (click)="goForward(stepper)">
                </app-especialistas-grid>
    
                <div>


                    <button type="button" class="btn btn-success p-1 m-2" mat-button matStepperPrevious>Ant.</button>
                    <button type="button" class="btn btn-success p-1" mat-button matStepperNext>Sig.</button>
                </div>

    
            </form>
        </mat-step>
    
        <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||| 2º ELEGIR especialidades ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    
    
        <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Seleccionar la Especialidad</ng-template>
    
                <app-especialidades-grid [especialidades]="especialidadesNombre"
                    (especialidadSeleccionada)="getEspecialistasEspecialidad($event) " (click)="goForward(stepper)">
                </app-especialidades-grid>
            </form>
        </mat-step>
    
    
        <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||| 3º ELEGIR HORARIO ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    
    
        <mat-step [stepControl]="thirdFormGroup" label="Fill out your address">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Seleccionar Especialista</ng-template>
    
                <app-turnos-generador [jornadas]="jornadasFiltradas" [especialista]="especialista"
                    [especialidad]="especialidadSeleccionadaNombre" (thowTurno)="seleccionarTurno($event)"
                    [paciente]="paciente" (click)="goForward(stepper)">
                </app-turnos-generador>
    
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
    
        <!-- ||||||||||||||||||||||||||||||||||||||||||||||||||| 3º ELEGIR HORARIO ||||||||||||||||||||||||||||||||||||||||||||||||||| -->
    
        <mat-step>
            <ng-template matStepLabel>Resumen</ng-template>
            <p>Confirmar el turno :</p>
    
    
    
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-stepper>
</div>