/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Alegreya';
    src: url('./assets/fonts/AlegreyaSans/AlegreyaSans-Medium.ttf');
}

@font-face {
    font-family: 'Orbitron';
    src: url('./assets/fonts/Orbitron/Orbitron-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Rajdhani';
    src: url('./assets/fonts/Rajdhani/Rajdhani-Regular.ttf');
}

@font-face {
    font-family: 'Simpsons';
    src: url('./assets/fonts/Simpsons/Simpsonfont.ttf');
}

$color-celeste: #46e3e0;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.bg-azul {
    background-color: #0061aa;
}

.bg-celeste {
    background-color: #46e3e0;
}

.bg-naranja {
    background-color: #46e3e0;
}


.color-azul {
    color: #0061aa;
}



.color-naranja {
    color: #46e3e0;
}


