<div class="container">
    <!-- Inside your *ngFor loop in the template -->
    <div class="col-sm-4" *ngFor="let turno of turnosPaciente">
      <div class="card">
        <div class="card-body">
          <div *ngIf="turno.atencionPaciente">
            <!-- Check if atencionPaciente is defined -->

            <app-especialista-card [especialista]="turno.especialista" ></app-especialista-card>
  
            <h5 class="card-title">Atenciones:</h5>
            <ul class="list-group">
              <li>{{ turno.fecha }}</li>
              
  
              <!-- Check if atencionPaciente.altura, atencionPaciente.peso, and atencionPaciente.temperatura are defined -->
              <li *ngIf="turno.atencionPaciente.altura">Altura: {{ turno.atencionPaciente.altura }}</li>
              <li *ngIf="turno.atencionPaciente.peso">Peso: {{ turno.atencionPaciente.peso }}</li>
              <li *ngIf="turno.atencionPaciente.temperatura">Temperatura: {{ turno.atencionPaciente.temperatura }}</li>
  
              <!-- Add additional checks for other properties if needed -->
            </ul>
  
            <!-- Botón para mostrar el formulario de edición -->
            <button class="btn btn-primary mt-3" (click)="showEditForm(turno)">Editar Atención</button>
  
            <!-- Formulario de edición oculto inicialmente -->
            <div *ngIf="turno.showEditForm">
              <!-- Aquí puedes agregar el formulario de edición, por ejemplo, utilizando el componente que proporcioné anteriormente -->
              <app-turno [turno]="turno"></app-turno>
            </div>
          </div>
  
          <div *ngIf="!turno.atencionPaciente">
            <!-- Show a message if atencionPaciente is undefined -->
            <p>No hay atención médica registrada para este turno.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  